*{
	margin: 0;
	padding: 0;
}

/* 여기서부터 header */
.top-header{
	width: 100%;
	height: 70px;
	background-color: white;
	position: fixed;
}

.top-header-div-span1 > input{
	background-image: url("https://d1unjqcospf8gs.cloudfront.net/assets/home/base/header/search-icon-7008edd4f9aaa32188f55e65258f1c1905d7a9d1a3ca2a07ae809b5535380f14.svg");
	background-repeat: no-repeat;
	position: absolute;
	left: 152px;
	top: 16px;
	border-radius: 5px;
	border: solid 1px gray;
	text-decoration: none;
	padding: 0 1.6rem;
	height: 40px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
  fill: #868e96;
  padding: 1rem 0;
}

.top-header-button1{
	width: 140px;
  border-radius: 5px;
  border: solid 1px #e9ecef;
  box-sizing: border-box;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
    display: inline-block;
  color: #495057;
  font-size: 14px;
  margin-left: 60%;
  font-weight: 700;
  vertical-align: middle;
}

.top-header-button2{
	width: 140px;
  border-radius: 5px;
  border: solid 1px #e9ecef;
  box-sizing: border-box;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
    display: inline-block;
  color: #495057;
  font-size: 14px;
  font-weight: 700;
  vertical-align: middle;
}

/* 여기서부터 body1 */
.mid-body1{
	background-color: #FBF7F2;
	height: 800px;
}

.mid-body1-div-main{
	display: block;
}

.mid-body1-div-main{
	width: 100%;
	height: 100%;
}

.mid-body1-div1{
	float: left;
	width: 39%;
	height: 100%;
	display: block;
}

.mid-body1-title{
	font-size: 30pt;
	height:500px;
	width: 1000px;
	text-align: right;
	display: table-cell;
	vertical-align: bottom;
}

.mid-body1-text{
	text-align: right;
}

.mid-body1-div2{
	float: right;
	width: 60%;
	height: 100%;
	background: url("https://d1unjqcospf8gs.cloudfront.net/assets/home/main/3x/image-top-4eb6b8642f61c5c012136597a25a7b72c705d6c6479a7270f3fb23726fddf585.png") left bottom no-repeat;
	background-size: 800px;
}



/* 여기서부터 body2 */
.mid-body2{
	background-color: ghostwhite;
	height: 800px;
}

.mid-body2-div1{
	float: left;
	height: 100%;
	width: 49%;
	background: url("https://d1unjqcospf8gs.cloudfront.net/assets/home/main/3x/image-1-39ac203e8922f615aa3843337871cb654b81269e872494128bf08236157c5f6a.png") right center no-repeat;
	background-size: 500px;
}

.mid-body2-div2{
	float: right;
	height: 100%;
	width: 49%;
	display: block;
}

.mid-body2-title{
	font-size: 30pt;
	height:370px;
	text-align: left;
	display: table-cell;
	vertical-align: bottom;
}

.mid-body2-text{
	text-align: left;
}

.mid-body2-button1{
	height: 50px;
	width: 170px;
	border: none;
	font-size: 17px;
	font-weight: bold;
}

.mid-body2-button2{
	height: 50px;
	width: 220px;
	border: none;
	font-size: 17px;
	font-weight: bold;
}



/* 여기서부터 body3 */
.mid-body3{
	background-color: azure;
	height: 800px;
}

.mid-body3-div-main{
	display: block;
}

.mid-body3-div-main{
	width: 100%;
	height: 100%;
}

.mid-body3-div1{
	float: left;
	width: 49%;
	height: 100%;
	display: block;
	text-align: right;
}

.mid-body3-title{
	font-size: 30pt;
	height:300px;
	width: 1000px;
	text-align: right;
	display: table-cell;
	vertical-align: bottom;
}

.mid-body3-text{
	text-align: right;
}

.mid-body3-ul{
	text-align: center;
	display: table-cell;
	float: right;
}

.mid-body3-ul-li1{
	float: left;
	width: 200px;
}

.mid-body3-ul-li1-div2{
	font-weight: bold;
	font-size: 15pt;
}

.mid-body3-ul-li2{
	float: left;
	width: 200px;
}

.mid-body3-ul-li2-div2{
	font-weight: bold;
	font-size: 15pt;
}

.mid-body3-ul-li3{
	float: left;
	width: 200px;
}

.mid-body3-ul-li3-div2{
	font-weight: bold;
	font-size: 15pt;
}

.mid-body3-div2{
	float: right;
	width: 49%;
	height: 100%;
	background: url("https://d1unjqcospf8gs.cloudfront.net/assets/home/main/3x/image-2-f286322ab98acedf914a05bf77e84c67dcb897c8ccb543e66f6afea9d366d06d.png") left center no-repeat;
	background-size: 500px;
}



/* 여기서부터 body4 */
.mid-body4{
	background-color: ghostwhite;
	height: 800px;
}

.mid-body4-div1{
	float: left;
	height: 100%;
	width: 49%;
	background: url("https://d1unjqcospf8gs.cloudfront.net/assets/home/main/3x/image-3-0c8b631ac2294ac5a3b3e7a3a5580c3e68a3303ad2aded1e84aa57a2e1442786.png") right center no-repeat;
	background-size: 500px;
}

.mid-body4-div2{
	float: right;
	height: 100%;
	width: 49%;
	display: block;
}

.mid-body4-title{
	font-size: 30pt;
	height:370px;
	text-align: left;
	display: table-cell;
	vertical-align: bottom;
}

.mid-body4-text{
	text-align: left;
}

.mid-body4-button1{
	height: 50px;
	width: 300px;
	border: none;
	font-size: 17px;
	font-weight: bold;
}



/* 여기서부터 body5 */
.mid-body5{
	background-color: blanchedalmond;
	height: 800px;
}

.mid-body5-main-div1{
	height: 350px;
	width: 200px;
}









/* 여기서부터 body6(인기검색어) */
.mid-body6{
	background-color: white;
	height: 200px;
	vertical-align: middle;
}

.home-main-title{
	padding: 50px;
}

.item-list{
	text-align: center;
	float: left;
	list-style-type: none;
	margin-left: 64px;
}












/* 여기서부터 footer */
.footer-body{
	background-color: gray;
	height: 800px;

}



