<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Jsp05_HelloServlet</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<param-name>name</param-name>
  	<param-value>수지</param-value>
  </context-param>
  
  <!-- HelloServlet Hello = new HelloServlet(); -->
  <servlet>
  	<servlet-name>Hello</servlet-name>
  	<servlet-class>com.hello.servlet.HelloServlet</servlet-class>
  	<init-param>
  		<param-name>sports</param-name>
  		<param-value>무에타이</param-value>
  	</init-param>
  </servlet>
  
  <!-- hello.do 라는 요청이 들어오면, Hello라는 이름의 servlet에 연결 -->
  <servlet-mapping>
  	<servlet-name>Hello</servlet-name>
  	<url-pattern>/hello.do</url-pattern>
  </servlet-mapping>
</web-app>